# Express Backend Port
PORT=5000

# Google Apps Script Web App Deployment URL for Express backend
GOOGLE_APP_SCRIPT_URL=https://your-google-apps-script-url/exec

# Google Apps Script Web App URL for front-end static deployment
VITE_GAS_URL=https://your-google-apps-script-url/exec
